/* FONTE DE DESTAQUE ************************************************/
@font-face {
  font-family: "Tan Buster";
  src: url("assets/TAN-BUSTER.otf") format("opentype");
}

/* RESET ************************************************************/
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  text-decoration: none;
}

/* DEFINIÇÕES BÁSICAS ***********************************************/
:root {
  --base-color: #dc0073;
  --contraste-color: #f5b700;
  --light-color: #f7b2b7;

  --primary-font-color: #ffffff;
  --secondary-font-color: #272932;

  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Tan Buster", sans-serif;

  font-size: 62.5%;
}

/* DEFINIÇÃO DE PÁGINA **********************************************/
body {
  background: var(--base-color);
  color: var(--primary-font-color);
  font-family: var(--primary-font);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 100vh;
  margin: 0 100px;
}

/* DEFINIÇÃO DO HEADER **********************************************/
.principal {
  text-align: center;

  margin: 0 30px;
  width: 50%;
}

.nome {
  color: var(--primary-font-color);
  font-family: var(--secondary-font);
  font-size: 3.5rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

.posicao1 {
  text-align: left;
}

.posicao2 {
  text-align: center;
}

.posicao3 {
  text-align: right;
}

.foto {
  border: 8px dotted var(--contraste-color);
  border-radius: 100%;

  margin: 30px 0;
  padding: 10px;
  width: 250px;
}

.texto {
  background: var(--light-color);
  border: 5px solid var(--contraste-color);
  border-radius: 100%;

  color: var(--secondary-font-color);
  font-weight: 600;
  text-align: center;

  margin: 30px 0;
  width: 250px;
}

.media img {
  margin-right: 18px;
  margin-top: 10px;
  width: 40px;
}

.media img:first-child {
  margin-left: 18px;
}

.media img:hover {
  margin-right: 8px;
  margin-top: -10px;
  width: 50px;

  transform: scaleX(1.2) scaleY(1.2);
}

/* DEFINIÇÃO DO MAIN ************************************************/
.container {
  margin-left: 100px;
  width: 50%;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.link {
  border-radius: 3px;
  color: var(--secondary-font-color);

  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  margin: 20px 0;
  padding: 30px 100px;
  width: 400px;
}

.link:hover {
  transform: scaleX(1.2) scaleY(1.2);
}

.item1 {
  background: var(--primary-font-color);
}

.item2 {
  background: var(--contraste-color);
}

.item3 {
  background: var(--primary-font-color);
}

/* VERSÃO MOBILE ****************************************************/
@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;

    height: 100%;
    margin: 30px 0;
  }

  .nome,
  .posicao1,
  .posicao2,
  .posicao3 {
    color: var(--primary-font-color);
    text-align: center;
  }

  .foto {
    margin: 30px 0;
    width: 250px;
  }

  .media img {
    width: 40px;
  }

  .container {
    margin: 30px auto;
    text-align: center;
    width: 100%;
  }

  .links {
    margin: 0 auto;
    width: 90%;
  }

  .link {
    margin: 20px 0;
    width: 60%;
  }

  .item1,
  .item2,
  .item3 {
    position: relative;
  }
}

@media screen and (max-width: 540px) {
  body {
    margin: 0 auto;
  }

  .posicao1 {
    margin-top: 50px;
  }

  .media img {
    margin: 0;
    width: 40px;
  }

  .links {
    margin: 0;
    padding: 30px;
    width: 100%;
  }

  .link {
    font-size: 1.6rem;
    width: 80%;
  }
}
