/* FONTE DE DESTAQUE ************************************************/
@font-face {
  font-family: "Tan Buster";
  src: url("assets/TAN-BUSTER.otf") format("opentype");
}

/* RESET ************************************************************/
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  text-decoration: none;
}

/* DEFINIÇÕES BÁSICAS ***********************************************/
:root {
  --base-color: #dc0073;
  --contraste-color: #f5b700;
  --light-color: #f7b2b7;

  --primary-font-color: #ffffff;
  --secondary-font-color: #272932;

  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Tan Buster", sans-serif;
}

/* DEFINIÇÃO DE PÁGINA **********************************************/
html {
  font-size: 62.5%;
}

body {
  background: var(--base-color);
  color: var(--primary-font-color);
  font-family: var(--primary-font);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 100vh;
  margin: 0 10rem;
}

/* DEFINIÇÃO DO HEADER **********************************************/
.principal {
  text-align: center;
  width: 50%;
}

.nome {
  color: var(--primary-font-color);
  font-family: var(--secondary-font);
  font-size: 3.5rem;
  letter-spacing: 1.5rem;
  text-align: right;
  text-transform: uppercase;
}

.posicao1 {
  margin-top: 5rem;
}

.posicao2 {
  color: var(--light-color);
  text-shadow: 2px 2px 1px var(--secondary-font-color);
}

.foto {
  border: 8px dotted var(--contraste-color);
  border-radius: 100%;

  margin: 2rem 0;
  padding: 1rem;
  width: 50%;
}

.texto {
  background: var(--light-color);
  border: 5px solid var(--contraste-color);
  border-radius: 100%;

  color: var(--secondary-font-color);
  font-weight: 600;
  text-align: center;
}

.media img {
  margin: 2rem;
  width: 8%;
}

.media img:first-child {
  margin-left: 2rem;
}

.media img:hover {
  margin-right: 2rem;
  margin-top: -2rem;
  margin-left: 2rem;
  width: 8%;

  transform: scaleX(1.2) scaleY(1.2);
}

/* DEFINIÇÃO DO MAIN ************************************************/
.container {
  width: 50%;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.link {
  border-radius: 3px;
  color: var(--secondary-font-color);

  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  margin: 2rem 0;
  padding: 3rem 10rem;
  width: 75%;
}

.link:hover {
  transform: scaleX(1.2) scaleY(1.2);
}

.item1 {
  background: var(--primary-font-color);
  box-shadow: 2px 2px 1px var(--secondary-font-color);
}

.item2 {
  background: var(--contraste-color);
  box-shadow: 2px 2px 1px var(--secondary-font-color);
}

.item3 {
  background: var(--primary-font-color);
  box-shadow: 2px 2px 1px var(--secondary-font-color);
}

/* VERSÃO MOBILE ****************************************************/
@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;

    height: 100%;
    margin: 0;
    padding: 0;
  }

  .principal {
    margin: 1rem 0;
    padding: 0;
    width: 100%;
  }

  .nome {
    font-size: 3rem;
    letter-spacing: 1rem;
    text-align: center;
  }

  .foto {
    margin: 2rem 0;
    width: 50%;
  }

  .media img {
    margin: 0;
    width: 10%;
  }

  .container {
    margin: 2rem 0;
    padding: 0;
    width: 100%;
  }

  .links {
    margin: 0;
    width: 100%;
  }

  .link {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    padding: 2rem 0;
    width: 80%;
  }
}

@media screen and (max-width: 360px) {
  .nome {
    font-size: 2.3rem;
    text-align: center;
  }

  .foto {
    margin: 2rem 0;
    width: 60%;
  }

  .links {
    margin-bottom: 2rem;
  }

  .link {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    padding: 2rem 0;
    width: 80%;
  }
}